@mixin flex-between {
display: flex;
justify-content: space-between;
align-items: center;
}

@mixin grid-1col {
display: grid;
grid-template-columns: 1fr;
gap: 18px;
}

@mixin border-accent {
border: 2px solid var(--accent);
border-radius: 7px;
}
