/* Base */
@import "base/reset";
@import "base/variables";
@import "base/mixins";
@import "base/global";
@import "base/animation";

/* Layout */
@import 'layout/header';
@import 'layout/nav';
@import 'layout/footer';

/* Pages */
@import 'pages/index';
@import 'pages/nosotros';
@import 'pages/galeria';
@import 'pages/servicios';
@import 'pages/contacto';
